@use '../utilities/variables.scss';

.list-repository {
  list-style: none;
  margin-top: 20px;

  li {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

    &+li {
      border-top: 1px solid variables.$border-top;
    }

    a {
      color: variables.$bg-color;
      text-decoration: none;
    }
  }
}